<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BackEndOfertaAcademica.Properties.Settings.SISTEMA_GESTION_ACADEMICAConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=SISTEMA_GESTION_ACADEMICA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BackEndOfertaAcademica.Properties.Settings.EstebanConnectionString"
            connectionString="Data Source=10.20.16.14;Initial Catalog=Esteban;User ID=sistemas;Password=sistemas"
            providerName="System.Data.SqlClient" />
        <add name="BackEndOfertaAcademica.Properties.Settings.EstebanConnectionString1"
            connectionString="Data Source=10.20.16.14;Initial Catalog=Esteban;User ID=sistemas"
            providerName="System.Data.SqlClient" />
        <add name="BackEndOfertaAcademica.Properties.Settings.SISTEMA_GESTION_ACADEMICAConnectionString1"
            connectionString="Data Source=DEADMACHINETWO\SQLEXPRESS;Initial Catalog=SISTEMA_GESTION_ACADEMICA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <providerOption name="UseAspNetSettings" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <providerOption name="UseAspNetSettings" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
</configuration>
